<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>WebSocket在线测试工具</title>
    <meta name="description" content="WebSocket在线开发调试测试工具，支持ws和wss。">
    <meta name="keywords" content="php,nodejs,swoole,websocket,websocket工具,swoole websocket,websocket client,ws,wss">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/qtcreator_light.min.css">
    <link rel="shortcut icon" href="https://wstool.js.org/favicon.ico">
</head>
<body>

<div id="root">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a href="javascript:void(0)" class="navbar-brand monospace">
                <span>WebSocket</span> <small>在线测试工具</small>
            </a>
        </div>
    </nav>

    <div class="container mt-3 main-container">
        <div class="row monospace">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- 左侧面板 -->
                            <div class="col-sm-12 col-md-5">
                                <!-- 服务器配置 -->
                                <div class="col-sm-12">
                                    <h5 class="card-title">服务器配置 状态: {{ instance ? (instance.readyState | rStatus) : '尚未创建' }}</h5>
                                    <hr class="divider divider-dashed">
                                    <div class="card-text">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">服务地址</div>
                                            </div>
                                            <input type="text" v-model="address" placeholder="输入 WebSocket 服务器地址" class="form-control">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-block" :class="connected ? 'btn-danger' : 'btn-success'" @click="autoWsConnect">
                                                    {{ connected ? '断开连接' : '开启连接' }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 发包设置 -->
                                <div class="col-sm-12 mt-3">
                                    <h5 class="card-title">发包设置</h5>
                                    <hr class="divider divider-dashed">
                                    <div class="card-text">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">每隔</div>
                                            </div>
                                            <input type="number" v-model.number="heartBeatSecond" min="1" class="form-control text-center">
                                            <div class="input-group-append input-group-prepend">
                                                <span class="input-group-text">秒发送内容</span>
                                            </div>
                                            <input type="text" v-model="heartBeatContent" class="form-control">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-block" :class="autoSend ? 'btn-danger' : 'btn-success'" @click="autoHeartBeat" :disabled="!connected">
                                                    {{ autoSend ? '停止发送' : '开始发送' }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-text mt-2">
                                        <textarea v-model="content" rows="2" placeholder="需要发送到服务端的内容" class="form-control mt-1" :disabled="!connected"></textarea>
                                        <div class="custom-control custom-checkbox inline-flex mt-2">
                                            <input type="checkbox" id="sendClean" v-model="sendClean" class="custom-control-input" :disabled="!connected">
                                            <label for="sendClean" class="custom-control-label">发包清空输入</label>
                                        </div>
                                    </div>
                                    <div class="card-text mt-2">
                                        <button class="btn btn-block btn-success" @click="sendData" :disabled="!connected">发送到服务端</button>
                                    </div>
                                </div>

                                <!-- 调试消息 -->
                                <div class="col-sm-12 mt-3">
                                    <h5 class="card-title">调试消息</h5>
                                    <hr class="divider divider-dashed">
                                    <div class="card-text">
                                        <div id="console-box" class="console-box">
                                            <div v-for="item in consoleData" class="mb-2">
                                                <strong :class="'text-' + item.type">{{ item.time }} => </strong>
                                                <span>{{ item.content }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 右侧面板 -->
                            <div class="col-sm-12 col-md-7">
                                <div class="col-sm-12">
                                    <h5 class="card-title" style="display: inline;">消息记录</h5>
                                    <a href="javascript:void(0);" @click="cleanMessage">清空消息</a>
                                    <hr class="divider divider-dashed">
                                    <div>
                                        <div class="custom-control custom-checkbox inline-flex mt-2">
                                            <input type="checkbox" id="recvClean" v-model="recvClean" class="custom-control-input" :disabled="!connected">
                                            <label for="recvClean" class="custom-control-label">收包清空记录</label>
                                        </div>
                                        <div class="custom-control custom-checkbox inline-flex mt-2">
                                            <input type="checkbox" id="recvDecode" v-model="recvDecode" class="custom-control-input" :disabled="!connected">
                                            <label for="recvDecode" class="custom-control-label">收包JSON解码</label>
                                        </div>
                                        <div class="custom-control custom-checkbox inline-flex mt-2">
                                            <input type="checkbox" id="recvPause" v-model="recvPause" class="custom-control-input" :disabled="!connected">
                                            <label for="recvPause" class="custom-control-label">暂停接收</label>
                                        </div>
                                    </div>
                                    <hr class="divider divider-dashed">
                                    <div id="message-box" class="message-box">
                                        <div v-for="item in messageData" class="mb-2">
                                            <strong :class="'text-' + (item.direction === 0 ? 'success' : 'info')">
                                                {{ item.time }} [{{ item.direction === 0 ? '收' : '发' }}] =>
                                            </strong>
                                            <span>{{ item.content }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" style="text-align: center;">
        友情链接：
        <a href="https://qq52o.me/" target="_blank">asd</a>
        <a href="https://github.com/" target="_blank">GitHub</a>
    </footer>
</div>

<script src="./js/vue.js"></script>
<script src="./js/moment.min.js"></script>
<script src="./js/highlight.min.js"></script>
<script src="./js/json.min.js"></script>
<script src="./js/format.js"></script>
<script src="./js/socket.js"></script>

</body>
</html>